@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SupShopWebUI.Models.ItemsVM

@{
    ViewData["Title"] = "Edit";
}


<h1> Restock Quantity </h1>

<form asp-action="Edit">
    
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="ProductID" />

    <div class=" mb-3">
        <label asp-for="itemQuanity" class="form-label">Item Quantity</label>
        <input asp-for="itemQuanity" type="number" class="form-control" />
        <span asp-validation-for="itemQuanity" class=" text-danger"></span>
    </div>




    <button type="submit" class="btn btn-primary" value="Edit">Restock</button>


</form>
